* {
    box-sizing: border-box;
}
.container {
    justify-content: center;
}
body {
   
    width:100vw;
    height:100vh;
    padding: 0px;
    margin: 0px;
}
#cv {
    
    width:100%;
    height: 100%;
}

#left {
    border-right: 1px solid black;
    background-color: antiquewhite !important;
    
}
@media print{
    body {
      background-color: #f90f0f;
    }
  }
.hidden {
    display:none;
}
/* styling form*/
.greenTick {
    font-size: 1.5rem;
    color: green;
}