* {
    box-sizing: border-box;
}
.container {
    justify-content: center;
}
body {
   
    width:100vw;
    height:100vh;
    padding: 0;
    margin: 0px;
}
#cv {
    
    width:100%;
    height: 100%;
}

#left {
    display:flex;
    flex-direction: column;
    border-right: 1px solid black;
    background-color: antiquewhite !important;
       
}
#right{
    display:flex;
    font-size: smaller;
    flex-direction: column
    
}
@media print{
    #right, #left{
    justify-content:start;
    }
  }
.hidden {
    display:none;
}
/* styling form*/
.greenTick {
    font-size: 1.5rem;
    color: green;
    
}

p {
    margin-bottom: 0.5rem;
}
#personal {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-right: 0.5rem;

}
#left >*{
    padding-top: 1rem;;
}
#view {
    max-width: 300px;
    height:auto;
}
#photoCV {
    
    width:100%;
}
#mainForm {
    background-image: url(img/job.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
/* to center main form*/
#mainForm>* {
    justify-content: center;
    align-items: center;

}
img[src="null"] {
    display: none;
 }

label {
    text-align: center;
}
#linkCV {
    text-decoration:none;
}